.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto
}

@media (max-width: 768px) {
  .slider {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.images {
  grid-column: 1 / 3;
  width: 95vw;
  max-height: 53vw;
  border: 2px solid black;
  overflow: hidden;
  margin: 0 auto
}

.images_wripper {
  display: flex;
  width: 380vw;
  max-height: 146vw;
  border: 2px solid black;
  overflow: hidden;
  margin: 0 auto;
  transition: .5s;
}

@media (max-width: 768px) {
  .images {
    grid-column: 1 / 2;
  }
}

.image_item {
  margin-left: 0;
  width: 100vw;
  display: inline-block;
  transition: .5s;
}

.image {
  width: 100%;
}

.descriptions {
  width: 45vw;
  max-height: 8vh;
  border: 2px solid black;
  overflow: hidden;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .descriptions {
    grid-row: 3 / 4;
    margin: 0 auto;
  }
  .buttons {
    grid-row: 2 / 3;
    margin: 0 auto;
  }
}

.button {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}

.btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  /* cursor: pointer; */
}

.btn:hover {
  background-color: blue;
}

.description {
  margin-left: 0;
  width: 40vw;
  display: inline-block;
}

.radio {
  visibility: hidden;
}

#image_1:checked ~ .slider .images .images_wripper {
  margin-left: 0;
}

#image_2:checked ~ .slider .images .images_wripper {
  margin-left: -95vw;
}

#image_3:checked ~ .slider .images .images_wripper {
  margin-left: -190vw;
}

#image_4:checked ~ .slider .images .images_wripper {
  margin-left: -285vw;
}

/*  */

#image_1:checked ~ .slider .descriptions .description_1 {
  margin-left: 0;
}

#image_2:checked ~ .slider .descriptions .description_1 {
  margin-left: -40vw;
}

#image_3:checked ~ .slider .descriptions .description_1 {
  margin-left: -80vw;
}

#image_4:checked ~ .slider .descriptions .description_1 {
  margin-left: -120vw;
}

/*  */

#image_1:checked ~ .slider .buttons .button .btn_1 {
  background-color: blue;
}

#image_2:checked ~ .slider .buttons .button .btn_2 {
  background-color: blue;
}

#image_3:checked ~ .slider .buttons .button .btn_3 {
  background-color: blue;
}

#image_4:checked ~ .slider .buttons .button .btn_4 {
  background-color: blue;
}

/*  */

#image_1:hover ~ .slider .buttons .button .btn_1 {
  background-color: blue;
}

#image_2:hover ~ .slider .buttons .button .btn_2 {
  background-color: blue;
}

#image_3:hover ~ .slider .buttons .button .btn_3 {
  background-color: blue;
}

#image_4:hover ~ .slider .buttons .button .btn_4 {
  background-color: blue;
}

