.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .slider {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.images {
  grid-column: 1 / 3;
  width: 84vw;
  max-height: 46vw;
  border: 2px solid black;
  overflow: hidden;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .images {
    grid-column: 1 / 2;
  }
}

.image_item {
  margin-left: 0;
  width: 80vw;
  display: inline-block;
  transition: .5s;
}

.image {
  width: 100%;
}

.descriptions {
  width: 45vw;
  max-height: 8vh;
  border: 2px solid black;
  overflow: hidden;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .descriptions {
    grid-row: 3 / 4;
  }
  .buttons {
    grid-row: 2 / 3;
  }
}

.description {
  margin-left: 0;
  width: 40vw;
  display: inline-block;
}

.radio {
  visibility: hidden;
}

#image_1:checked ~ .slider .images .image_1 {
  margin-left: 0;
}

#image_2:checked ~ .slider .images .image_1 {
  margin-left: -80vw;
}

#image_3:checked ~ .slider .images .image_1 {
  margin-left: -160vw;
}

#image_4:checked ~ .slider .images .image_1 {
  margin-left: -240vw;
}

#image_1:checked ~ .slider .descriptions .description_1 {
  margin-left: 0;
}

#image_2:checked ~ .slider .descriptions .description_1 {
  margin-left: -40vw;
}

#image_3:checked ~ .slider .descriptions .description_1 {
  margin-left: -80vw;
}

#image_4:checked ~ .slider .descriptions .description_1 {
  margin-left: -120vw;
}